@{
    ViewData["Title"] = "Contactar";
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="wwwroot/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
}
<body class="back">
    <div >
        <div>
            <h1>Comunicate conmigo!!</h1>
        </div>
        <div>
            <p>Link del chat del lider del grupo</p>
        </div>
        <div>
            <h3>Ayudanos en nuestro proyecto</h3>
        </div>
        

    </div>
</body>
