@{
    ViewData["Title"] = "Lista de Proyectos";
    
    <h1>@ViewData["Title"]</h1>

    <meta name="viewport" content="width=device-width, initial-scale=1">
}


<table class="tabla-donaciones" width="100%">
    <tr>
        <td>titulo del Proyecto 1</td>
        <td>titulo del proyecto 2</td>
        <td>titulo del proyecto 3</td>
    </tr>
    <tr class="tablewithborderspacing">
        
        <td>
            <img src="~/img/iconofacebook.png" width="auto" height="auto">
            </td>
        
        <td>
            <img src="~/img/iconofacebook.png" width="auto" height="auto">
            </td>
        
        <td>
            <img src="~/img/iconofacebook.png" width="auto" height="auto">
        </td>
        
    </tr>
    <tr>
        <td class="tablewithborderspacing">
            CrowdFunding en una pagina web con el fin de impulsar proyectos , estos proyectos pueden ser pequeños, emprendimientos o empresariales
            <br />
            <button class="button">Donar(Comunicarse connmigo)</button>
        </td>
        <td class="tablewithborderspacing">
            Para ayudar a los proyectos que se encuentran en la página, registrate y selecciona uno de los proyectos que mas te interesa y te mandara a un chat de WhatsApp para conversar con el lider del proyecto para quedar en cuanto puede apoyar
            <br />
            <button class="button">Donar(Comunicarse conmigo)</button>
        </td>
        <td class="tablewithborderspacing">
            El manejo de esta página es controlado por un administrador que acepta las peticiones de creacion de proyectos para que estos no se publiquen sin ningun tipo de control
            <br />
            <button class="button" >Donar(Comunicarse conmigo)</button>

        </td>
    </tr>
    <tr class="tablewithborderspacing">

        <td>
            <img src="~/img/cerditoAhorrador.png" width="150" height="150">
        </td>

        <td>
            <img src="~/img/iconotwiter.png" width="150" height="150">
        </td>

        <td>
            <img src="~/img/iconofacebook.png" width="150" height="150">
        </td>
    </tr>
    <tr>
        <td class="tablewithborderspacing">
            CrowdFunding en una pagina web con el fin de impulsar proyectos , estos proyectos pueden ser pequeños, emprendimientos o empresariales
            <br />
            <button class="button">Donar(Comunicarse connmigo)</button>
        </td>
        <td class="tablewithborderspacing">
            Para ayudar a los proyectos que se encuentran en la página, registrate y selecciona uno de los proyectos que mas te interesa y te mandara a un chat de WhatsApp para conversar con el lider del proyecto para quedar en cuanto puede apoyar
            <br />
            <button class="button">Donar(Comunicarse conmigo)</button>
        </td>
        <td class="tablewithborderspacing">
            El manejo de esta página es controlado por un administrador que acepta las peticiones de creacion de proyectos para que estos no se publiquen sin ningun tipo de control
            <br />
            <button class="button">Donar(Comunicarse conmigo)</button>

        </td>
    </tr>
</table>
